.btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 60px;
	background: #ffb51e;
	color: #19171a;
	border: 1px solid #ffb51e;
	border-radius: 60px;
	overflow: hidden;
	transition: transform 0.5s ease;
	font-size: 18px;
	line-height: 150%;
	&--dark {
		color: #ffb51e;
		background: #19171a;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 30px;
		height: 100%;
		background-color: rgba(#fff, 0.3);
		transform: translateX(-4em) skewX(-45deg);
	}
	&:hover {
		&:before {
			animation: move-light 0.5s;
		}
	}
	&:active {
		transform: scale(0.95);
	}
	@include media-mobile-horizontal {
		font-size: 16px;
	}
}

@keyframes move-light {
	from {
		transform: translateX(-4em) skewX(-45deg);
	}
	to {
		transform: translateX(25em) skewX(-45deg);
	}
}
