*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

a {
	text-decoration: none;
	transition: all 0.3s ease;
	color: #ffb51e;
	* {
		transition: all 0.3s ease;
	}
	&:hover {
		color: lighten(#ffb51e, 8);
	}
	&:active {
		color: darken(#ffb51e, 8);
		transform: scale(0.95);
	}
}
a,
button {
	cursor: pointer;
	border: none;
}

body {
	color: #19171a;
	font-size: 16px;
	font-weight: 400;
	line-height: 140%;
	font-family: 'Inter', sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	overflow-y: auto;
}

.main-page {
	flex: 1;
	overflow: hidden;
}

.container {
	max-width: $mediaWidthLaptop;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	@include media-tablet-horizontal {
		max-width: 940px;
		padding: 0px;
	}
	@include media-tablet {
		padding: 0px 10px;
	}
}

.phone {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 5px;
		.tel {
			font-weight: 500;
			font-size: 18px;
			line-height: 150%;
			color: #fff;
		}
		.order {
			font-weight: 400;
			font-size: 12px;
			line-height: 15px;
			text-decoration-line: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
